fastapi==0.135.3
fastapi_limiter==0.1.6
passlib==1.7.4
pydantic==2.12.5
PyMySQL==1.1.1
python_jose==3.3.0
redis==4.5.5
rich==13.9.4
SQLAlchemy==2.0.31
uvicorn==0.32.0
gunicorn==23.0.0
jinja2==3.1.2
python-multipart==0.0.5
aiofiles==24.1.0
pillow==12.2.0
uuid==1.30
requests==2.32.2
responses==0.25.8
python-dotenv==1.0.1
