{% extends "base.html" %}
{% block main %}

<!-- Banner -->
	<!-- Two -->
<div class="inner" style = "padding: 20px 0 5em 5em;">
<div style="display:block; clear:both; float:none;">
<h3><strong><u>Détails du livre</strong></u></h3>
<div style="display:block; clear:both; float:none;">
<div style="width:30%; min-width: 300px; float:left; margin-right:30px;">								

		
		<p><strong>Titre</strong>:  {{ book.title}}</p>
        <p><strong>Auteur</strong>:  {{ book.author}}</p>
        <p><strong>Synopsis</strong>:  {{ book.summary}}</p>
        <p><strong>Genre</strong>:  {{ book.genre}}</p>
        <p><strong>Bibliothèque</strong>:  {{ book.library}}</p>
		<p><strong>Étagère</strong>:  {{book.shelf}}</p>

                                </div>
    <div style="width:30%; min-width: 280px; float:left;">
        <p><strong>Collection</strong>:  {{ book.collection}}</p>
        <p><strong>ISBN</strong>:  {{ book.ISBN}}</p>
		<p><strong>Notes</strong>:  {{book.notes}}</p>
		{% if book.owned %}
		<p><strong>Possédé</strong>:  Oui</p>
		{% else %}
		<p><strong>Possédé</strong>:  Non</p>
		{% endif %}
		{% if book.withdrawn %}
		<p><strong>Emprunté</strong>:  Oui</p>
		{% else %}
		<p><strong>Emprunté</strong>:  Non</p>
		{% endif %}
		{% if book.withdrawn and book.withdrawnBy %}
		<p><strong>Emprunté par</strong>:  {{ book.withdrawnBy }}</p>
		{% elif not book.withdrawn and book.withdrawnBy %}
		<p><strong>Dernièrement emprunté par</strong>:  {{ book.withdrawnBy }}</p>
		{% endif %}
			{% if config.customFieldName1|length > 0 %}	
<p><strong>{{config.customFieldName1}}</strong>:  {{book.customField1}}</p>
	{% endif %}
			{% if config.customFieldName2|length > 0 %}	
<p><strong>{{config.customFieldName2}}</strong>:  {{book.customField2}}</p>
	{% endif %}

		</div>
	
	<div style= "display:block; clear:both;float:none;">
		
		{% if config.coverImages %}	
<h3 style="margin-top:25px;"><strong><u>Couverture(s)</strong></u></h3>		

<div style = "margin-top:20px;margin-bottom:20px;">
			{% if images %}
				{% for image in images %}
<div style="float:left;">
<a style = "border:none; margin-right:10px;" href ="{{ url_for('static', path='bookImages')}}/{{ image.filename }}.jpg" target=”_blank”><img src="{{ url_for('static', path='bookImages')}}/{{ image.filename }}_thumbnail.jpg"></a>

				{% endfor %}
		{% endif %}
</div>
	{% endif %}	
	<div style= "display:block; clear:both;float:none;">
	<hr>
			<h3><strong><u>Emprunt</strong></u></h3>
		{% if user.isAdmin %}
				{% if book.withdrawn %}
<a style="border:none; margin-right:25px;" href="/return/{{book.id}}"><button>Rendre</button></a>
		{% else %}
<a style="border:none; margin-right:25px;" href="/withdraw/{{book.id}}"><button>Emprunter</button></a>
		{% endif %}
		{% endif %}

     </div>
	<div style= "display:block; clear:both;float:none;">
		<h3 style="margin-top:25px; margin-bottom:0px;"><strong><u>Liste de lecture</strong></u></h3>
		<a style="border:none;margin-right:25px;" href="/read/{{book.id}}"><button style="margin-top:20px;">Ajouter</button></a><a style="border:none;" href="/unread/{{book.id}}"><button style="margin-top:20px;">Retirer</button></a>
	</div>
    </div>
      <!-- more table rows here -->



	{% if user.isAdmin %}
			<button class="accordion" style="margin-top:40px;">Admin</button>
			<div class="panel">
			<a style="border:none; margin-right:25px;margin-right:25px;" href="/update_book/{{book.id}}"><button>Mettre à jour</button></a>
			<a class="confirm" style="border:none;" href="/delete_book/{{book.id}}" onclick="if (!confirm('Êtes-vous sûr?')) return false;"><button style="margin-top:30px;">Supprimer</button></a>
		    	{% if config.coverImages %}	
		
				
		{% if images %}
<h3 style="margin-top:25px;"><strong><u>Gestion des images liées au livre</strong></u></h3>
<div style = "margin-top:20px;margin-bottom:20px;">
		{% for image in images %}
<div style="float:left;">
<a style = "border:none; margin-right:10px;" href ="{{ url_for('static', path='bookImages')}}/{{ image.filename }}.jpg" target=”_blank”><img src="{{ url_for('static', path='bookImages')}}/{{ image.filename }}_thumbnail.jpg"></a>
<form action="/deleteImage/{{ image.id }}" method="post" ><button type="submit" style ="clear:both; display:block; float:none; line-height:0.5em; height:1.5em; padding: 0 1em 0 1em; margin:auto;" onclick="if (!confirm('Êtes-vous sûr?')) return false;">Supprimer</button></form>
</div>
		{% endfor %}
</div>
<div style ="clear:both; display:block; float:none; margin-top: 20px;">
<form action="/upload/{{ book.id }}" method="post" enctype="multipart/form-data">
        <!-- File input field -->
        <label style ="padding-top: 20px;" for="file">Téléverser une autre image: </label>
        <input type="file" id="file" name="file" accept="image/jpeg" required>
 
        <br><br>
         
        <!-- Submit button -->
        <input type="submit" value="Valider">
    </form>
</div>
</div>
		{% else %}
<p>Aucune image enregistrée pour ce livre.</p>
<form action="/upload/{{ book.id }}" method="post" enctype="multipart/form-data">
        <!-- File input field -->
        <label for="file">Téléverser une image: </label>
        <input type="file" id="file" name="file" accept="image/jpeg" required>
 
        <br><br>
         
        <!-- Submit button -->
        <input type="submit" value="Valider">
    </form>
		{% endif %}
	{% endif %}
			</div>
		{% endif %}

<hr>

</div>

</div>
								
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>
{% endblock %}
