{% extends "base.html" %}
{% block main %}

<!-- Banner -->
<!-- Two -->
<section id="two">
	<div class="inner" style = "padding: 20px 0 1em 0;">

{% for error in errors %}
    <p style="color: red">{{ error }}</p>
{% endfor %}
<h1>Add a New Book</h1>
{% if addISBN %} 
<a style ="text-decoration:none !important; border:none;" onclick = "document.bookExistsAdder.action = '/addanotherisbn';document.bookExistsAdder.submit();"><button>Valider & ajouter un nouveau</button></a>
{% endif %}
{% if book %} 									
<form id ="bookExistsAdder" name = "bookExistsAdder" action="/add_book" method="post">
<input type="hidden" name="coverFilename" value="{{ book.coverFilename or '' }}">
<div style="display:block; clear:both; float:none;">
<div style="width:30%; min-width: 300px; float:left; margin-right:30px;">
    <p>
        <p><label for="">Titre</label></p>
        <input type="text" name="title" value="{{ book.title }}" required>
    </p>
    <p>
        <p><label for="">Auteur</label></p>
        <input type="text" name="author" value="{{ book.author }}">
    </p>
    <p>
        <p><label for="">Synopsis</label></p>
        <input type="text" name="summary" value="{{ book.summary }}">
    </p>
    <p>
        <p><label for="">Genre</label></p>
<select name="genre" id="genre">
				{% for genre in config.genres.split(",") %}
					<option value="{{ genre }}" {% if book.genre == genre %}selected{% endif %}>{{ genre }}</option>
				{% endfor %}
			</select>
    </p>
<p><label for="">eBook</label></p>
<select name="ebook" id="ebook">
  <option value="True">Oui</option>
  <option value="False" selected="selected">Non</option>
</select>
    </p>
				
{% if config.customFieldName1|length > 0 %}
<p><label for="">{{ config.customFieldName1 }}</label></p>
        <input type="text" name="customField1" value="{{ book.customField1 }}">
    </p>
{% endif %}
{% if config.customFieldName2|length > 0 %}
<p><label for="">{{ config.customFieldName2 }}</label></p>
        <input type="text" name="customField2" value="{{ book.customField2 }}">
    </p>
{% endif %}
        </div>
    <div style="width:30%; min-width: 300px; float:left;">
    <p>
        <p><label for="">Bibliothèque</label></p>
        <input type="text" name="library" value="{{ book.library }}">
    </p>

    <p>
        <p><label for="">Étagère</label></p>
        <input type="text" name="shelf" value="{{ book.shelf }}" >
    </p>

    <p>
        <p><label for="">Collection</label></p>
        <input type="text" name="collection" value="{{ book.collection }}" >
    </p>
    <p>
        <p><label for="">ISBN</label></p>
        <input type="text" name="ISBN" value="{{ book.ISBN }}" >
    </p>
    <p>
        <p><label for="">Notes</label></p>
        <input type="text" name="notes" value="{{ book.notes }}" >
    </p>

        <p>
        <p><label for="">Possédé</label></p>
<select name="owned" id="owned">
  <option value="True">Oui</option>
  <option value="False">Non</option>
</select>
    </p>
<p>
        <p><label for="">Emprunté</label></p>
        <select name="withdrawn" id="withdrawn">
			<option value="False">Non</option>
  <option value="True">Oui</option>
  
</select>



    </div>
    </div>
    <input style= "display:block; clear:both;float:none;" type="submit" value="Submit">
    
</form>
{% endif %}

{% if not book %} 
<form action="/add_book" method="post">
<div style="display:block; clear:both; float:none;">
<div style="width:30%; min-width: 300px; float:left; margin-right:30px;">
    <p>
        <p><label for="">Titre</label></p>
        <input type="text" name="title" value="{{ title }}" required>
    </p>
    <p>
        <p><label for="">Auteur</label></p>
        <input type="text" name="author" value="{{ author }}">
    </p>
    <p>
        <p><label for="">Synopsis</label></p>
        <input type="text" name="summary" value="{{ summary }}">
    </p>
    <p>
        <p><label for="">Genre</label></p>
        <select name="genre" id="genre">
			<option value="Uncategorized" selected="selected">Non classé</option>
			{% for genre in config.genres.split(",") %}
				<option value="{{ genre }}">{{ genre }}</option>
			{% endfor %}
</select>
    </p>
        <p><label for="">eBook</label></p>
<select name="ebook" id="ebook">
  <option value="True">Oui</option>
  <option value="False" selected="selected">Non</option>
</select>
    </p>
{% if config.customFieldName1|length > 0 %}	
<p><label for="">{{ config.customFieldName1 }}</label></p>
        <input type="text" name="customField1" value="{{ customField1 }}">
    </p>
{% endif %}
{% if config.customFieldName2|length > 0 %}	
<p><label for="">{{ config.customFieldName2 }}</label></p>
        <input type="text" name="customField2" value="{{ customField2 }}">
    </p>
{% endif %}
            </div>
    <div style="width:30%; min-width: 300px; float:left;">
    <p>
        <p><label for="">Bibliothèque</label></p>
        <input type="text" name="library" value="{{ library }}">
    </p>

    <p>
        <p><label for="">Étagère</label></p>
        <input type="text" name="shelf" value="{{ shelf }}" >
    </p>

    <p>
        <p><label for="">Collection</label></p>
        <input type="text" name="collection" value="{{ collection }}" >
    </p>
    <p>
        <p><label for="">ISBN</label></p>
        <input type="text" name="ISBN" value="{{ ISBN }}" >
    </p>
    <p>
        <p><label for="">Notes</label></p>
        <input type="text" name="notes" value="{{ notes }}" >
    </p>
    
        <p>
        <p><label for="">Possédé</label></p>
<select name="owned" id="owned">
  <option value="True">Oui</option>
  <option value="False">Non</option>
</select>
    </p>
<p>
        <p><label for="">Emprunté</label></p>
<select name="withdrawn" id="withdrawn">
	<option value="False">Non</option>
  <option value="True">Oui</option>
  
</select>
    </p>

    </div>
    </div>
    <input style= "display:block; clear:both;float:none;" type="submit" value="Valider">
    
</form>
<a style ="text-decoration:none !important; border:none;" href="/addisbn"><button>Ajouter par recherche ISBN</button></a>
{% endif %}
<hr>
</div>

{% endblock %}
